<!DOCTYPE html>
<html lang="el">
<head>
  <meta charset="UTF-8">
  <title>UniQ</title>
  
</head>
<body class="body">

  <nav class="navbar">
    <a class="nav-link" href="{{ url_for('home') }}">🏠 Αρχική</a>
    <a class="nav-link" href="{{ url_for('get_questionnaires') }}">📄 Προβολή Ερωτηματολογίων</a>
    {% if session.username %}
      <span class="nav-user">👤 {{ session.username }}</span>
      <a class="nav-link" href="{{ url_for('logout') }}">🚪 Έξοδος</a>
      <a class="nav-link" href="{{ url_for('change_password') }}">🔑Αλλαγή Κωδικού</a>
      <a class="nav-link" >🛠️ Κατασκευη Ερωτηματολογίου</a>
      <a class="nav-link" >🔍 Προβολή Ερωτηματολογίων Φοιτητή</a>
    {% else %}
      <a class="nav-link" href="{{ url_for('login') }}">🔐 Είσοδος</a>
    {% endif %}
  </nav>

  <div class="container">
    <h1>Αλλαγή Κωδικού</h1>
    {% if error %}<p style="color:red">{{ error }}</p>{% endif %}
    {% if success %}<p style="color:green">{{ success }}</p>{% endif %}
    
    <form method="POST">
      <label>Τρέχων Κωδικός:</label>
      <input type="password" name="old_password" required><br>
      <label>Νέος Κωδικός:</label>
      <input type="password" name="new_password" required><br>
      <button type="submit">Αλλαγή</button>
    </form>
  </div>
</body>
</html>

