<!DOCTYPE html>
<html lang="el">
<head>
  <meta charset="UTF-8">
  <title>UniQ | Αλλαγή Κωδικού</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/change_password.css') }}">
  <link rel="stylesheet" href="../static/css/home.css">
</head>
<body class="body">

  <nav class="navbar">
     <a class="nav-link" href="{{ url_for('home') }}">🏠 Αρχική</a>
     <a class="nav-link" href="{{ url_for('get_questionnaires') }}">📄 Προβολή Ερωτηματολογίων</a>
    {% if session.username %}
      <span class="nav-user">👤 {{ session.username }}</span>
      <a class="nav-link" href="{{ url_for('logout') }}">🚪 Έξοδος</a>
      <a class="nav-link" href="{{ url_for('change_password') }}">🔑Αλλαγή Κωδικού</a>
      <a class="nav-link" href="{{ url_for('create_questionnaire') }}">🛠️ Κατασκευη Ερωτηματολογίου</a>
      <a class="nav-link" href="{{ url_for('my_questionnaires') }}" >🔍 Προβολή Ερωτηματολογίων Φοιτητή</a>
    {% else %}
      <a class="nav-link" href="{{ url_for('login') }}">🔐 Είσοδος</a>
    {% endif %}
    {% if  session.username and session.role == 'admin'%}
      <a class="nav-link" href="{{ url_for('create_student') }}">➕ Δημιουργία Νέου Φοιτητή</a>
      <a class="nav-link" href="{{ url_for('delete_student') }}">🗑️ Διαγραφή Φοιτητή</a>
    {% endif %}
  </nav>

  <div class="container">
    <h1 class="title">Αλλαγή Κωδικού</h1>

    {% if error %}
      <p class="error-msg">{{ error }}</p>
    {% endif %}
    {% if success %}
      <p class="success-msg">{{ success }}</p>
    {% endif %}

    

    <form method="POST" class="form">
      <div class="form-group">
        <label for="old_password">Τρέχων Κωδικός:</label>
        <input type="password" name="old_password" id="old_password" required>
      </div>
      <div class="form-group">
        <label for="new_password">Νέος Κωδικός:</label>
        <input type="password" name="new_password" id="new_password" required>
      </div>
      <button type="submit" class="submit-btn">Αλλαγή</button>
    </form>
  </div>
</body>
</html>
