
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UniQ</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/create_student.css') }}">
  <link rel="stylesheet" href="../static/css/home.css">
</head>
<body class="body">
   <nav class="navbar">
     <a class="nav-link" href="{{ url_for('home') }}">🏠 Αρχική</a>
     <a class="nav-link" href="{{ url_for('get_questionnaires') }}">📄 Προβολή Ερωτηματολογίων</a>
    {% if session.username %}
      <span class="nav-user">👤 {{ session.username }}</span>
      <a class="nav-link" href="{{ url_for('logout') }}">🚪 Έξοδος</a>
      <a class="nav-link" href="{{ url_for('change_password') }}">🔑Αλλαγή Κωδικού</a>
      <a class="nav-link" href="{{ url_for('create_questionnaire') }}">🛠️ Κατασκευη Ερωτηματολογίου</a>
      <a class="nav-link" href="{{ url_for('my_questionnaires') }}" >🔍 Προβολή Ερωτηματολογίων Φοιτητή</a>
    {% else %}
      <a class="nav-link" href="{{ url_for('login') }}">🔐 Είσοδος</a>
    {% endif %}
    {% if  session.username and session.role == 'admin'%}
      <a class="nav-link" href="{{ url_for('create_student') }}">➕ Δημιουργία Νέου Φοιτητή</a>
      <a class="nav-link" href="{{ url_for('delete_student') }}">🗑️ Διαγραφή Φοιτητή</a>
    {% endif %}
  </nav>
  <div class="container">
    <h2>🗑️ Διαγραφή Φοιτητή</h2>

    {% if error %}
      <p style="color:red;">{{ error }}</p>
    {% elif success %}
      <p style="color:green;">{{ success }}</p>
    {% endif %}

    <form method="POST"  class="form">
      <div class="student-block">
        <label>Αριθμός Μητρώου:</label>
        <input type="number" name="reg_number" required>
      </div>
      <button type="submit">Διαγραφή</button>
    </form>
  </div>
</body>
</html>