<!DOCTYPE html>
<html lang="el">
<head>
  <meta charset="UTF-8">
  <title>UniQ</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
   <link rel="stylesheet" href="../static/css/home.css">
</head>
<body class="body">

  <nav class="navbar">
    <a class="nav-link" href="{{ url_for('home') }}">🏠 Αρχική</a>
    <a class="nav-link" href="{{ url_for('get_questionnaires') }}">📄 Προβολή Ερωτηματολογίων</a>
    <a class="nav-link" href="{{ url_for('login') }}">🔐 Είσοδος</a>
  </nav>

  <div class="container">
    <h1 class="questionnaire-title">Είσοδος Χρήστη</h1>
    


    {% if error %}
      <p style="color:red; font-weight:bold;">{{ error }}</p>
    {% endif %}

    <form method="POST" action="{{ url_for('login') }}">
      <div class="question-block">
        <label for="username">Όνομα Χρήστη:</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="question-block">
        <label for="password">Κωδικός:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit">Είσοδος</button>
    </form>
  </div>
</body>
</html>

