<!-- templates/questionnaires.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ερωτηματολόγια</title>
</head>
<body>
  <h1>Διαθέσιμα Ερωτηματολόγια</h1>

  <a href="{{ url_for('get_questionnaires', sort='answer_count') }}">Ταξινόμηση κατά απαντήσεις φθινουσα</a>
  <a href="{{ url_for('get_questionnaires', sort='answer_count_desc') }}">Ταξινόμηση κατά απαντήσεις αυξουσα</a><br>

  <form method="get" action="{{ url_for('search_questionnaires') }}">
    <label for="title">Τίτλος:</label>
    <input type="text" name="title" value="{{ request.args.get('title', '') }}">
  
    <label for="min_answers">Ελάχιστες Απαντήσεις:</label>
    <input type="number" name="min_answers" value="{{ request.args.get('min_answers', '') }}">
  
    <label for="max_answers">Μέγιστες Απαντήσεις:</label>
    <input type="number" name="max_answers" value="{{ request.args.get('max_answers', '') }}">
  
    <label for="student_name">Όνομα Φοιτητή:</label>
    <input type="text" name="student_name" value="{{ request.args.get('student_name', '') }}">
  
    <label for="department">Τμήμα:</label>
    <input type="text" name="department" value="{{ request.args.get('department', '') }}">
  
    
    
  
    <button type="submit">🔍 Αναζήτηση</button>
  </form>
  <ul>
    {% for q in questionnaires %}
      <li>
        <strong>{{ q.title }}</strong><br>
        {{ q.description }}<br>
        {%for s in students if s.reg_number == q.student_id %}
          Ονομα:{{s.name}}<br>
          Επιθετός:{{s.surname}}<br>
          Τμήμα:{{ s.department }}<br>
        {% endfor %}
        Απαντήσεις: {{ q.answer_count }}<br>
        <a href="{{ url_for('view_questionnaire', questionnaire_id=q.questionnaire_id) }}">Προβολή</a>
      </li>
    {% else %}
      <li>Δεν βρέθηκαν ερωτηματολόγια</li>
    {% endfor %}
  </ul>
</body>
</html>


