<!DOCTYPE html>
<html lang="el">
<head>
  <meta charset="UTF-8">
  <title>UniQ</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/success.css') }}">
  <link rel="stylesheet" href="../static/css/home.css">
</head>
<body class="body">

 <nav class="navbar">
     <a class="nav-link" href="{{ url_for('home') }}">🏠 Αρχική</a>
     <a class="nav-link" href="{{ url_for('get_questionnaires') }}">📄 Προβολή Ερωτηματολογίων</a>
    {% if session.username %}
      <span class="nav-user">👤 {{ session.username }}</span>
      <a class="nav-link" href="{{ url_for('logout') }}">🚪 Έξοδος</a>
      <a class="nav-link" href="{{ url_for('change_password') }}">🔑Αλλαγή Κωδικού</a>
      <a class="nav-link" href="{{ url_for('create_questionnaire') }}">🛠️ Κατασκευη Ερωτηματολογίου</a>
      <a class="nav-link" href="{{ url_for('my_questionnaires') }}" >🔍 Προβολή Ερωτηματολογίων Φοιτητή</a>
    {% else %}
      <a class="nav-link" href="{{ url_for('login') }}">🔐 Είσοδος</a>
    {% endif %}
    {% if  session.username and session.role == 'admin'%}
      <a class="nav-link" href="{{ url_for('create_student') }}">➕ Δημιουργία Νέου Φοιτητή</a>
      <a class="nav-link" href="{{ url_for('delete_student') }}">🗑️ Διαγραφή Φοιτητή</a>
    {% endif %}
  </nav>

  <div class="success-container">
    <h1 class="success-title">✅ Επιτυχής Υποβολή</h1>
    <p class="success-message">{{ message }}</p>
    <a class="back-link" href="{{ url_for('get_questionnaires') }}">⬅ Επιστροφή στα ερωτηματολόγια</a>
  </div>

</body>
</html>
